
/* a{
  text-decoration: none;
} */


header{

    background-color: #ffffffcf;
  
}

.listofshares{

    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}


.formtoadd{
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    margin:auto;
    background-color:  #ffffffcf;
    border-radius: 20px;
    border: white;
    color: grey;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 40px;
    border:20px;
    display: flex;
    flex:33%;
    flex-direction: column;
}

.button{

    background-color: #ffffffcf;
    color: grey;
}

.share-display{

text-align: center;
color:grey;
font-size: large;
background-color: #ffffffcf;
justify-content: center;
align-items: center;
max-width: 300px;
max-height: 200px;
margin-top: 200px;
margin-left: 450px;
background-color:  #ffffffcf;
border-radius: 20px;
border: white;
background-position: 10px 10px;
background-repeat: no-repeat;
padding: 40px;
display: flex;
flex:33%;
gap: 50px;

}
.individualshare{
gap: 30px;

    min-width: 300px;
    min-height: 300px;
 
 
}

.handleshare{
    background-color: white;
    color: black;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    font-size: small;
    min-width:300px;
    min-height: 200px;
    padding:10px
    

}

.tbody{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:10px
}
.tableInfo{
    display: flex;
flex-direction: column;
   
}

.title {

    display:flex;
    flex-direction: column;
}

.total{

    background-color:  #ffffffcf;
    border-radius: 20px;
    border: white;
    color: grey;
    text-align: center;
}

h1{
    background-color:  #ffffffcf;
    border-radius: 20px;
    border: white;
    color: grey;
    text-align: center;
}

h2{

    background-color:  #ffffffcf;
    border-radius: 20px;
    border: white;
    color: grey;
    text-align: center;
}

h3{
    background-color:  #ffffffcf;
    border-radius: 20px;
    border: white;
    color: grey;
    text-align: center;
}

.upgradebutton{

    color:white

}
.upgradebutton a:any-link{
    color:black 
}